.experienceContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card {
    display: flex;
    gap: 20px;
    background-color: hsl(240, 2%, 12%);
    padding: 20px;
    border-radius: 10px;
    align-items: flex-start;
    border: 2px solid white;
    box-shadow: 0 4px 12px rgba(227, 227, 227, 0.08);
}

.logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.details {
    flex: 1;
}

button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modalContent {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-height: 80%;
    overflow: auto;
    position: relative;
}

.modalImage {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #f50d0d;
}